<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STCrawler.STConfigurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <STCrawler.STConfigurations>
            <setting name="ScheduledHour" serializeAs="String">
                <value>2,4,6,8,9</value>
            </setting>
            <setting name="ST_UsernamePassword" serializeAs="String">
                <value>61053682~smile@15</value>
            </setting>
            <setting name="Code" serializeAs="String">
                <value>R3qPzdrsH5cG9m2Gk0A9ztxvqZzRVZT83vu3/DkvsVwPdxy9hEzVBoZ8g1Y4eeZLCVDkn8P/XLr6aW0fSsJZ6lwthCppneCd7/l98CYuAkBI/dv8ZFssWMZkK9L8fOgtwtSxTzO3p5C1299fzYUtAX/cAl1SbJXuTMJnYPk+96E=</value>
            </setting>
            <setting name="WaitAfterClicks" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ST_URL" serializeAs="String">
                <value>http://www.frenzzup.com/User/EarnePoints.aspx</value>
            </setting>
        </STCrawler.STConfigurations>
    </userSettings>
</configuration>